/**/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-color: #EEF9BF;

    font-family: 'Roboto', sans-serif;

}

header {
   display: flex; 
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

   margin-top: 40px;
   margin-bottom: 13px;

   font-weight: bold;
   line-height: 65.63px;
   font-size: 56px;
   text-align: center;

   color: #75B79E;

}

@media (max-width: 800px) {
    header {
        font-size: 36px;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

   margin-left: 109px;
   margin-right: 75px;
   margin-bottom: 153px;


}

carta {
    margin-left: 15px;
    margin-top: 5px;

}

.carta_existente{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 117px;
    height: 146px;

    background-color: #A7E9AF;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
        
        
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.carta_existente img {
    width:100px;

}

.verso {
    transform: rotateY(180deg);
  }

  carta:hover .verso {
    transform: rotateY(0deg);
  }

  carta:hover .frente {
    transform: rotateY(-180deg);
  }

